{% extends 'homepage/base.html'%}

{% block content %}
{% load static %}


  <!-- Main body goes here -->
  <body id ="recover">
<div class="recover_container">
<p class="container_word"> Recover password </p>
<form method="POST" action="{% url 'accounts:recover' %}">
  {%csrf_token%}

    {%if messages %}
    <div class="text-warning">
      {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {%endif%}
    <div class="form">
      <label> Email</label>
      <input type="email" name="email" placeholder="Enter your email address" required />
      
      <input class="btn tetiary-btn" type="submit" value="Send reset link">
      <p class="form_word"> You can also continue with email </p>
    </div>
  
 </div>


 {% endblock %}
</body>
