<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.min.css">
<!-- <link rel="stylesheet" href="assets/css/sass/style.css"> -->
<title>Micro Api - Recover password</title>
</head>
<body id ="recover">

  <!-- Header start here -->
 
  <header>
    <!-- Write header here -->
    <div class="container">
      <div class="row pt-4 pb-4 header__wrapper">
        <div class="col-lg-2 col-md-6 col-sm-6 logo__container">
          <a href="index.html" class="logo"><img src="./assets/img/logo.svg" alt="site logo"></a>
        </div>

        <nav class="col-lg-6">
          <ul class="nav__menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="contact.html">Contact us</a></li>
            <li><a href="docs.html">Documentation</a></li>
          </ul>
        </nav>

        <div class="col-lg-4 menu__button__container">
          <a href="signin1.html"><button class="secondary-btn">Sign In</button></a>
          <a href="signup-1.html"><button class="primary-btn">Sign Up</button></a>
        </div>

        <div class="mobile__nav">
          <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
          </div>

          <div class="mobile__menu">
            <nav class="nav">
              <div class="search__form">
                <label for="search">
                  <input type="text" name="search" placeholder="Search...">
                </label>
                <div class="search__icon">
                  <i class="fas fa-search"></i>
                </div>
              </div>

              <ul class="mobile__nav__menu">
                <li><a href="index.html"><b>Home</b></a></li>
                <li><a href="about.html"><b>About us</b></a></li>
                <li><a href="contact.html"><b>Contact us</b></a></li>
                <li><a href="docs.html"><b>Documentation</b></a></li>
                <li><a href="signin1.html"><b>Sign in</b></a></li>
                <li><a href="signup-1.html"><b>Sign Up</b></a></li>
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
              </ul>

              <div class="menu__logo">
                <a href="#"><img src="./assets/img/logo.svg" alt=""></a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

 
   



  <!-- Main body goes here -->
<div class="recover_container">
<p class="container_word"> Recover password </p>
    <div class="form">
      <label> Email</label>
      <input type="Email" placeholder="Enter your email address" />
      <a  href="resetlink.html" class="btn tetiary-btn">Send reset link</a>
      <p class="form_word"> You can also continue with email </p>
    </div>
  
 </div>


  <!-- Footer start here -->
  <footer>
    <!-- Write footer here -->

    <div class="container pt-5 pb-5 footer__wrapper">
      <div class="footer__logo__container">
        <div class="footer__logo">
          <a href="#"><img src="./assets/img/logo.svg" alt="footer logo"></a>
        </div>
      </div>

      <div class="footer__menus__container">
        <div>
          <h6>Product</h6>
          <ul>
            <li><a href="auth.html">Authentication API</a></li>
            <li><a href="#">Models</a></li>
            <li><a href="faq.html">FAQ</a></li>
          </ul>
        </div>

        <div>
          <h6>Collaboration</h6>
          <ul>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Track Changes</a></li>
          </ul>
        </div>

        <div>
          <h6>Explore</h6>
          <ul>
            <li><a href="/contact.html">Contact Us</a></li>
            <li><a href="/about.html">About Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="assets/js/nav.js"></script>

</body>
</html>