{% extends 'homepage/base.html'%}

{% block content %}
{% load static %}


<body id ="recover">
  <!-- Main body goes here -->
<div class="recover_container">
<p class="container_word"> Reset Your password </p>
    <div class="form">
      <label> Type new password</label>
      <input type="password" placeholder="Enter password" />
      <label> Type new password one more time</label>
      <input type="password" placeholder="Enter password " />
      <button class="btn tetiary-btn">Set password</button>
    </div>
  
 </div>


 {% endblock %}
</body>