{% extends 'homepage/base.html'%} {% block content %} {% load static %}
<body id="layout">
  <!-- Main body goes here -->
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 col-sm-12 col-lg-4 col-xs-4">
        <h1 class="text-center"><strong>Sign Up</strong></h1>
        <br />

        <form action="{% url 'accounts:signup' %}" method="POST" id="sign_form">
          {% csrf_token %}
          <div class="text-primary">
            {% for message in messages %} {{ message }} {% endfor %}
          </div>
          <div class="google-btn">
            <button type="submit" class="primary-btn btn-block">
              <img src="{% static 'img/google_logo.png' %}" /> Continue with
              Google
            </button>
          </div>
          <div class="form-group">
            <label for="email">USERNAME</label>
            <input
              name="username"
              type="text"
              class="form-control"
              placeholder="Enter your Username..."
            />
          </div>
          <div class="form-group">
            <label for="email">FIRST NAME</label>
            <input
              type="text"
              name="firstname"
              class="form-control"
              placeholder="Enter your first name..."
            />
          </div>
          <div class="form-group">
            <label for="pwd">LAST NAME</label>
            <input
              type="text"
              name="lastname"
              class="form-control"
              placeholder="Enter your last name..."
            />
          </div>
          <div class="form-group">
            <label for="pwd">EMAIL</label>
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="Enter your email adress..."
            />
          </div>
          <div class="form-group">
            <label for="pwd">phonenumber</label>
            <input
              name="phonenumber"
              type="text"
              class="form-control"
              placeholder="Enter your email adress..."
            />
          </div>
          <div class="form-group">
            <label for="pwd">PASSWORD</label>
            <input type="password" name="pwd" class="form-control" />
          </div>
          <div class="form-group">
            <label for="pwd">CONFIRM PASSWORD</label>
            <input type="password" name="confirmpwd" class="form-control" />
          </div>
          <button type="submit" class="btn btn-block tetiary-btn">
            Sign up
          </button>
        </form>
        <br /><br />
      </div>
    </div>
  </div>
</body>
{% endblock %}
