{% extends 'homepage/base.html'%}

{% load static %}
{% block content %}

    <body id="about">
    
    <!-- Main body goes here -->
    <div class="content">
        <div class="inner-content-1">
            <h1 >About Us</h1>

            <h3 >Who we are?</h3>

            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio condimentum aenean aenean ut. Id quis nulla aliquam et rutrum egestas purus. Egestas quis eget amet fermentum erat. Blandit id nunc phasellus ac. Luctus nunc dolor imperdiet facilisi leo, cursus. Pulvinar eget nisi libero turpis commodo.</p>
        </div>

        <div class="inner-content-2">
            <div class="inner-content2-txt">
                <h4>Our Sevices</h4>
            <div class="content-list">
                <h5>1. API</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio condimentum aenean aenean ut. Id quis nulla aliquam et rutrum egestas purus. Egestas quis eget amet fermentum erat. Blandit id nunc phasellus ac. Luctus nunc dolor imperdiet facilisi leo, cursus. Pulvinar eget nisi libero turpis commodo.</p>
            </div>

            <div class="content-list">
                <h5>2. Micro-services</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio condimentum aenean aenean ut. Id quis nulla aliquam et rutrum egestas purus. Egestas quis eget amet fermentum erat. Blandit id nunc phasellus ac. Luctus nunc dolor imperdiet facilisi leo, cursus. Pulvinar eget nisi libero turpis commodo.</p>
            </div>

            <div class="content-list">
                <h5>3. Integration</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio condimentum aenean aenean ut. Id quis nulla aliquam et rutrum egestas purus. Egestas quis eget amet fermentum erat. Blandit id nunc phasellus ac. Luctus nunc dolor imperdiet facilisi leo, cursus. Pulvinar eget nisi libero turpis commodo.</p>
            </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
