{% extends 'user_dashboard/dash_base.html' %}

{% block content %}
{% load static %}

        <div class="configure_blog">
          <div class="configure_blog__main row ml-3 mt-4 mr-3">
          <!-- code goes here-->
          <div class="configure_blog_sect1__cont1 col-lg-8 ">
            <div class="configure_blog_sect1__cont2">
              <h2>Configure Blog Api</h2>
              <p>This is a map of user data. It contains sign up information needed from the user before auth</p>
              <div class="configure_blog_sect1__cont2__apigraph">
                <h5>API Usage</h5>
                <div class="configure_blog_sect1__cont2__apigraph__cont">
                  <div class="apistatus"><div class="apistatus__dot"></div>Status</div>
                  <div class="apistats"><div class="apistats__dot"></div>Stats</div>
                  <div class="apigraph_cont"><canvas id="apigraph"></canvas>  </div>
                </div>
              </div>
              <form>
                <div class="box">
                  <label for="apiKey">API Key</label>
                  <input type="text" placeholder="23pcei3434kef">
                </div>
                <div class="box">
                  <label for="baseId">Base ID</label>
                  <input type="text" placeholder="94nfkkeo454nkf">
                </div>
                <div class="box">
                  <label for="blogApi">Content Type</label>
                  <input type="text" placeholder="Blog API">
                </div>
                <div class="box">
                  <label for="node">Node type</label>
                  <input type="text" placeholder="Blog API">
                </div>
                <div class="row ml-0 mr-0 pl-0 pr-0">
                  <div class="box_small box_small--modifier1">
                    <label for="servers">Allowable Servers</label>
                    <input type="text" placeholder="API Administrators">
                  </div>
                  <div class="box_small box_small--modifier2">
                    <label for="service">Ajax Proxy Service</label>
                    <input type="text" placeholder="www.domain.com">
                  </div>
                  <div class="box_small box_small--modifier3">
                    <label for="token">API Token</label>
                    <input type="text" placeholder="Blog API">
                  </div>
                  <div class="box_small box_small--modifier4">
                    <label for="Authentication">Authentication</label>
                    <input type="text" placeholder="Blog API">
                  </div>
                  <div class="box_small box_small--modifier5">
                    <label for="Porthost">Port host</label>
                    <input type="text" placeholder="www.domain.com">
                  </div>
                  <div class="check_box ">
                    <label for="transport">Transport level Security</label>
                      <div class="pretty p-icon">
                        <input type="checkbox" />
                        <div class="state">
                          <i class="icon material-icons">done</i>
                          <label><span class="spacer"></span>Http</label>
                        </div>
                      </div>
                      <div class="pretty p-icon">
                        <input type="checkbox" />
                        <div class="state">
                          <i class="icon material-icons">done</i>
                          <label><span class="spacer"></span>Https</label>
                        </div>
                      </div>
                  </div>
                </div>
              </form>
              <div class="configure_blog_sect1__cont2__footer">
                <a><i class="fas fa-save"></i>Save</a>
              </div>
            </div>
          </div>
          <div class="configure_blog_sect2 col-lg-3 ml-3 mb-4">
            <div class="configure_blog_sect2__pie">
              <h4>Statistics</h4><hr>
              <p>Overall API Usage</p>
              <div class="pie_chart"><canvas id="pie"></canvas></div>
            </div>
            <div class="configure_blog_sect2__doc">
              <h4>Documentation<i class="fas fa-search"></i></h4><hr>
              <ul>
                <li><a href="#">Sign up with email</a></li>
                <li><a href="#">Sign in with facebook</a></li>
                <li><a href="#">Sign in with Google</a></li>
                <li><a href="#">Confirm password</a></li>
                <li><a href="#">Change password</a></li>
                <li><a href="#">Reset password</a></li>
                <li><a href="#">Confirm password</a></li>
                <li><a href="#">Reset password</a></li>
              </ul>
              <a class="view__doc"><i class="fas fa-file"></i>View doc</a>
          </div>
          <div class="configure_blog_sect2__git">
            <a href="#">Open GitHub</a>
          </div>
          <div class="configure_blog_sect2__sample">
            <h4>Code sample</h4><hr>
            <p>Select Language</p>
            <select name="language" id="language">
              <option value="python">Python</option>
              <option value="java">Java</option>
              <option value="javascript">Javascript</option>
            </select>
            <h5>Easily download code sample of different programming languages</h5>
            <a href="#"><i class="fas fa-book-open"></i>view sample</a><hr>
            <a href="#"><i class="fas fa-download"></i>Download</a>
          </div>
        </div> 
        </div>
      </div>
    </div>
  </div>

{% endblock %}