<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
<link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/style.min.css'%}">
<title>MicroAPI - Dashboard</title>
</head>

<body>
  <!-- dashbord -->
	<div id="dashboard">
        <!-- dashboard side bar -->
        <div class="sidebar">
            <div class="sidebar__logo">
                <a href="../index.html"><img src="{% static 'img/logo-alt.svg' %}" alt=""></a>
            </div>

            <div class="sidebar__section">
                <div class="sidebar__section__header">
                    <h5>Projects  <i class="fas fa-angle-up"></i></h5>
                    <ul class="sidebar__section__header__list">
                        <li>
                          <div class="pretty p-icon">
                            <input type="checkbox" />
                            <div class="state">
                              <i class="icon material-icons">done</i>
                              <label><span class="spacer"></span>Acme Project's</label>
                            </div>
                          </div>
                        </li>
                        
                        <li>
                          <div class="pretty p-icon">
                            <input type="checkbox" />
                            <div class="state">
                              <i class="icon material-icons">done</i>
                              <label><span class="spacer"></span>Sentry Project's</label>
                            </div>
                          </div>
                        </li>
                        <button class="add-new"><span>+</span><p>New project</p></button>
                    </ul>
                </div>
                <div class="sidebar__section__content">
                    <div class="sidebar__section__content__sub">
                        <h5>Tools <i class="fas fa-angle-up"></i></h5>
                        <ul class="sidebar__section__content__sub__list">
                            <li><p>MicroAPI</p></li>
                            <li><p>Frontends</p></li>
                            <li><p>Database</p></li>
                        </ul>
                    </div>
                    <div class="sidebar__section__content__sub">
                        <h5 class="sidebar__section__content__sub__title">Accounts <i class="fas fa-angle-up"></i></h5>
                        <ul class="sidebar__section__content__sub__list">
                            <li><p>Account settings</p></li>
                            <li><p>Sign out</p></li>
                        </ul>
                    </div>
                    <div class="sidebar__section__content__sub">
                        <h5 class="sidebar__section__content__sub__title">Contribute <i class="fas fa-angle-up"></i></h5>
                        <ul class="sidebar__section__content__sub__list">
                            <li><p>Contribute to MicroAPI</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
          <header>
              <a class="menu"><i class="fas fa-bars"></i></a>
              <div class="profile_section">
                  <a><i class="far fa-bell"></i></a>
                  <div class="profile_section__pix">Samuel Eze<a><i class="far fa-user"></i></a></div>
              </div>
          </header>


          <!-- Main dashboard content starts here -->

          <div class="dashboard__main">
            <!-- code goes here-->
            <div class="dashboard__title">
              <h1>Dashboard</h1>
            </div>

            <div class="dashboard__subtitle">
              <h3>Active APIs</h3>
            </div>

              <section id="container">
                <article class="dropBox active-row">
                  {% if mylist %}
                  <!-- Single box -->
                  {% for mylist in mylists %}
                  <div class="dragBox active-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                              <h5>{{ mylist.title }}</h5>  
                              <!-- toggle -->
                              <div class="pretty p-switch p-fill">
                                <input type="checkbox" />
                                <div class="state p-success">
                                    <label></label>
                                </div>
                              </div>  
                          </div>
                          <div class="api__box__text">
                            <small>{{ mylist.description }}</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>{{ mylist.stats }}</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'configure_api' %}"><button class="primary-btn">Configure</button></a>
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                  <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                  <label></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->
                  {% endfor %}

                  {% else %}
                  <div>
                    No active api
                  </div>
                  {% endif %}
                </article>

                <div class="search-box">
                  <div class="search-box__head">
                    <h3>Available APIs</h3>
                  </div>
                  <div class="search-box__input">
                    <label for="search">
                      <i class="fas fa-search"></i>
                      <input type="text" placeholder="Search for APIs">
                    </label>
                  </div>
                </div>
                
                <article class="dropBox inactive-row">
                  
                  <!-- Single box -->
                  {% for api_list in api_lists %}
                  <div class="dragBox inactive-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                            <h5>{{ api_list.title }}</h5>
                            <!-- toggle -->
                            <div class="pretty p-switch p-fill">
                              <input type="checkbox" />
                              <div class="state p-success">
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="api__box__text">
                            <small>{{ api_list.description }}</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>4/hr</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'addapi' %}"><button class="secondary-btn">+ Add API</button></a>
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                <label></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->
                  {% endfor %}
                </article>
                
              </section>


            </div>
          </div>
        </div>
    </div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script> 
<script src="{% static 'js/dashboard_sidebar.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>
