{% extends 'user_dashboard/dash_base.html' %}

{% block content %}

{% load static %}
          <!-- Main dashboard content starts here -->

          <div class="dashboard__main">
            <!-- code goes here-->
            <div class="dashboard__title">
              <h1>Dashboard</h1>
            </div>

            <div class="dashboard__subtitle">
              <h3>Active APIs</h3>
            </div>

              <section id="container">
                <article class="dropBox active-row">

                  <div id="empty-api" class="empty-api"
                    style="display:none; flex-direction:column; justify-content:center; align-items:center; width: 100%">
                    <div className="icon">
                      <span class="material-icons" style="font-size: 65px; color: lightgrey">cloud_off</span>
                    </div>

                    <div className="text" style="text-align:center;">
                      <h4 style="color: lightgrey">There's nothing here</h4>
                      <p style="color: lightgrey;">Drag from available APIs or use the add button to add new API</p>
                    </div>
                  </div>
                  
                  
                  <!-- Single box -->
                  {% for obj in all_apis %}

                  {% if obj in request.user.api_list.all %}
                  <div class="dragBox active-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                              <h5>{{ obj.title }}</h5>  
                              <!-- toggle -->
                              <div class="pretty p-switch p-fill">
                                <input type="checkbox" />
                                <div class="state p-success">
                                    <label></label>
                                </div>
                              </div>
                              
                          </div>
                          <div class="api__box__text">
                            <small>{{ obj.description }}</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>{{ obj.stats }}</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'dashboard:configure_api' %}"><button class="primary-btn">Configure</button></a>
                            
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                  <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                  <label></label>
                              </div>
                            </div>
                          </div>
                          <div>
                            <a href="{% url 'dashboard:rmv_api' obj.id %}"><button>- Remove</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->
                  {% endif %}

                  {% endfor %}
                </article>

                <div class="search-box">
                  <div class="search-box__head">
                    <h3>Available APIs</h3>
                  </div>
                  <div class="search-box__input">
                    <label for="search">
                      <i class="fas fa-search"></i>
                      <input type="text" placeholder="Search for APIs">
                    </label>
                  </div>
                </div>
                
                <article class="dropBox inactive-row">
                  
                  <!-- Single box -->
                  {% for all_api in all_apis %}
                  {% if all_api not in request.user.api_list.all %}
                  <div class="dragBox inactive-box">
                    <div class="api__box">
                      <div class="api__box__shadow">
                        <div class="api__box__inner">
                          <div class="api__box__heading">
                            <h5>{{ all_api.title }}</h5>
                            <!-- toggle -->
                            <div class="pretty p-switch p-fill">
                              <input type="checkbox" />
                              <div class="state p-success">
                                <label></label>
                              </div>
                            </div>
                          </div>
                          <div class="api__box__text">
                            <small>{{ all_api.description }}</small>
                          </div>
                          <div class="api__box__stats">
                            <p>Stats <br>
                              <span>{{ all_api.stats }}</span>
                            </p>
                          </div>
                          <div class="api__box__buttons">
                            <a href="{% url 'dashboard:adding_api' all_api.id %}"><button class="secondary-btn">+ Add API</button></a>
                            <!-- <input type="radio" name="" id=""> -->
                            <!-- success -->
                            <div class="prindex.html pretty p-default p-round p-toggle">
                              <input type="checkbox" />
                              <div class="state p-success p-on">
                                <label></label>
                              </div>
                              <div class="state p-danger p-off">
                                <label></label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> <!-- Single box end -->
                  {% endif %}
                  {% endfor %}
                </article>
                
              </section>


            </div>
          </div>
        </div>
    </div>
<script type="text/javascript">
$('.add_api').click(function() {
var id;
id = $(this).attr("add_to_active");
$.ajax(
  {
    type = 'POST',
    url = 'active_api',
    data: {
      all_api_id : id
    },
    success: function(data) {

    }
  }
)
})


</script>

{% endblock %}