#about {

  $primary-color: #1A1B2D;
  $secondary-color: #fff;
  $tetiary-color: #f4f4f4;
  $theme-color: #58BF8E;
  $tertiary-dark: #5E5E66;


// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

.content {
    margin: auto;
    // align-items: center;
    // text-align: center;
    h1{
            font-size: 43px;
            color: $primary-color;
            padding-top: 50px;
            padding-bottom: 30px;
            // text-align: center;
            
    }
    h3 {
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        padding-top: 20px 
    }

    h4 {
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        padding: 20px 0;
    }

    p {
        font-size: 18px;
        line-height: 27px;
        color: $tertiary-dark;
       
    }

    .inner-content-1 { 
        text-align: center;
        max-width: 879.26px;
        margin: auto;

        h2 {
            font-size: 45px;
            color: $primary-color;
            padding-top: 50px;
            padding-bottom: 30px;
            text-align: justify;
        }

        p {
            padding: 20px 0 40px 0;
             text-align: justify
        }
    }

    .inner-content-2 {
        background-color: $tetiary-color;
        margin:1em 0em;
        // padding:1.5em 0em;

        .inner-content2-txt {
            max-width: 879.26px;
             margin: auto;

             .content-list {
                //  padding: 0 30px 80px 30px;
             }

             div {
                 padding: 40px 0;
             }
        }

        h5 {
            font-size: 26px;
            line-height: 33px;
        }
    }
}




  
}
@media (max-width: 991px) {
.content {
    padding:2em;
    text-align: left !important;
    .content-list {
        padding: 0 20px 80px 20px !important;
    }
    .inner-content2-txt {
        width: 90% !important;
         margin: 1.5em auto !important;
    }
}


}