#tutorial {

    .side_links {
        h5 {}

        a {
            display: block !important;
            margin: .5rem 0;
            color: $primary-color;
            width: 100%;
            line-height: 1.5rem;

            &:hover {
                background: $hover-bg;
                color: $secondary-color;
            }
        }
    }

}