// // #endpoint {
//   //write inside here only

  $border-color: #c6c6c6;
  $font-color: #646464;
  $sample-bg: #0b0a08ce;
  $hover-bg: #4e4e4e;
  $orange: #ff4500;
  $black: #000000;

//   * {
//     overflow: hidden;
//     box-sizing: border-box;
//   }

//   .doc__header {
//     margin-top: 3rem;
//     padding-top: 2rem;
//     padding-bottom: 2rem;
//     border-bottom: solid 1px $border-color;

//     .doc__rating,
//     .doc__users {
//       text-align: center;
//       padding: 0 1rem;

//       span {
//         color: $font-color;
//       }

//       span:nth-child(2) {
//         font-size: 1.2rem;
//         font-weight: bolder;
//       }
//     }

//     .doc__users {
//       border-right: solid 1px $border-color;
//     }
//   }

//   .active {
//     border-bottom: solid 4px $theme-color;
//   }

//   .help {
//     border-bottom: solid 1px $border-color;

//     .tabs {
//       .active {
//         border-bottom: solid 4px $theme-color;
//       }

//       .tab {
//         p {
//           margin: 0;
//           line-height: 4rem;
//         }
//       }

//       .tab:hover {
//         border-bottom: solid 4px $theme-color;
//       }
//     }

//     a {
//       color: $theme-color;
//     }
//   }

//     #intro {
//       div {
//         div.attributes {
//           .attribute {
//             min-height: 12rem;

//             img {
//               width: 90%;
//               height: 90%;
//               margin: auto;
//             }
//           }
//         }
//       }
//     }

//     .integration {
//       background: $border-color;

//       p {
//         color: $black;
//       }

//       .int {
//         img {
//           width: 70%;
//           height: 70%;
//           margin: auto;
//         }
//       }
//     }

//     #features {
//       .feature {
//         border: solid 1px $font-color;
//         padding: 2rem;
//         margin: 1rem 0;

//         a {
//           background: $font-color;
//           color: $black;
//         }
//       }
//     }

//     #trial {
//       .subform {
//         input {
//           width: 70%;
//           height: 2.5rem;
//           margin-right: 2%;
//         }

//         button {}
//       }
//     }

//     .refNav {
//       .ref__search__form {
//         width: 100%;
//         height: 2.5rem;
//         margin: auto;
//         padding-right: 2%;
//         background-color: $secondary-color;
//         border: solid 1px $border-color;
//         border-radius: 5px;

//         button,
//         input {
//           height: 100%;
//           background: $secondary-color;
//           border: transparent;
//         }

//         button {
//           padding: 0 2%;
//           background: $border-color;

//           span {
//             margin-top: 0.5rem;
//           }

//           &:hover {
//             background: $hover-bg;
//             color: $secondary-color;
//           }
//         }

//         input {
//           outline: none;
//         }
//       }

//       .refNav__links {
//         margin-top: 2rem;

//         li {
//           list-style: none;

//           .refNav__link__text {
//             color: $black;
//           }
//         }

//         .more {
//           display: block;
//           cursor: pointer;
//         }

//         .more__content {
//           height: none;

//           li {
//             a {
//               display: block;
//               width: 100%;
//               color: $font-color;
//             }
//           }

//           animation: all 1s;
//         }

        // li.refNav__link {
        //   display: block;
        //   width: 100%;
        //   color: $primary-color;
        //   list-style: none;
        //   margin: 0.5rem;
        //   line-height: 2.5rem;

        //   a {
        //     line-height: 2.5rem;
        //     padding-left: 0.5rem;
        //     display: block;
        //     width: 100%;
        //     color: $primary-color;

        //     &:hover {
        //       color: $secondary-color;
        //     }
        //   }

        //   &:hover {
        //     line-height: 2.5rem;
        //     padding-left: 0.5rem;
        //     background: $hover-bg;
        //     color: $secondary-color;
        //   }

        //   .more {
        //   }

        //   .more__content {
        //     display: none;
        //   }

        //   .refNav__link__sub {
        //     display: none;
        //     color: $font-color;
        //     margin: 0.5rem;
        //   }
    //     // }
    //   }
    // }

    // .refIntro {
    //   a {
    //     color: $theme-color;
    //   }

    //   .signupSteps {
    //     background: #e5e5e5;

    //     ol {
    //       li {
    //         list-style-type: decimal;
    //       }
    //     }
    //   }
    // }

    .start {
      a {
        background: $border-color;
        padding: 0.3rem;
        color: $primary-color;
        text-decoration: none;
      }
    }

    .shortcut__search__form {
      width: 100%;
      height: 2.5rem;
      margin: auto;
      padding-right: 2%;
      background-color: $secondary-color;
      border: solid 1px $border-color;

      button,
      input {
        height: 100%;
        background: $secondary-color;
        border: transparent;
      }

      button {
        padding: 0 2%;
        background: $border-color;

        span {
          margin-top: 0.5rem;
        }

        &:hover {
          background: $hover-bg;
          color: $secondary-color;
        }
      }

      input {
        outline: none;
      }
    }

    .quicknav {
      // border-right: solid 1px $border-color;

      .shortcut {
        margin-top: 2rem;

        .shortcut__heading {
          font-weight: bolder;
          color: $hover-bg;
        }

        .shortcut__link {
          width: 100%;
          height: 2.3rem;
          margin: 0.5rem 0;
          padding: 0.2rem 1rem;
          text-decoration: none;
          color: $primary-color;

          &:hover {
            background: $hover-bg;
          }

          .shortcut__link__btn--post,
          .shortcut__link__btn--put {
            width: 4rem;
            border-radius: 5px;
            padding: 0.2rem 0.7rem;
            font-weight: bold;
            text-align: center;
            color: $secondary-color;
          }

          .shortcut__link__btn--put {
            background: $orange;
          }

          .shortcut__link__btn--post {
            background: $theme-color;
          }

          .shortcut__link__text {
            word-spacing: 0.001rem;
          }

          &:hover {
            color: $secondary-color;
          }
        }
      }
    }

    .endpoints {
      color: $hover-bg;

      .endpoint__desc {
        .endpoint {
          .endpoint__test {
            p.test__action__btn--post {
              background: $theme-color;
              padding: 0.2rem 0.7rem;
              color: $secondary-color;
              border-radius: 5px;
            }

            .github__link {
              color: $hover-bg;
              opacity: 0.5;
            }

            .endpoint__test__textarea {
              border: solid 1px $border-color;
              border-radius: 5px;
              height: auto;
              padding: 0.5rem;

              textarea {
                width: 100%;
                height: auto;
                border: none;

                resize: none;
                opacity: 0.5;

                &:focus {
                  outline: none;
                }

                .endpoint__test__copy {
                  text-align: right;

                  a {
                    color: $font-color;
                    opacity: 0.5;

                    &:hover {
                      cursor: pointer;
                    }
                  }
                }
              }

              .endpoint__test__copy {
                text-align: right;

                a {
                  color: $font-color;
                  opacity: 0.5;
                }
              }
            }
          }

          .param {
            margin-top: 2rem;

            .param__heading {}

            .param__type {
              margin-top: 2rem;

              .param__type__heading {
                span {
                  font-weight: bolder;
                }

                .asterisk {
                  color: red;
                }

                .param__type__data {
                  padding: 0.2rem 0.8rem;
                  background: $tetiary-color;
                  border-radius: 5px;
                }
              }

              .param__type__sample {
                div:nth-child(odd) {
                  background: $border-color;
                  padding: 0.3rem 1rem;
                }

                div:nth-child(even) {
                  padding: 0.3rem 1rem;
                  background: $hover-bg;
                  color: $secondary-color;
                }
              }
            }
          }
        }
      }

      .endpoint__sample {
        padding: 5rem 0;
        background: $sample-bg;

        p.heading {
          color: $tetiary-color;
          background: $hover-bg;
          padding: 0.3rem 2rem;
        }

        .req {
          select {
            display: block;
            height: 2rem;
            margin-left: 1rem;

            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background: $black;
            color: $secondary-color;
            border: none;

            &:focus {
              outline: none;
            }
          }

          .req__code {
            display: block;
            width: 100%;
            padding: 1rem;
            background: $black;

            code {
              color: $theme-color;
            }
          }
        }

        .res__type {
          margin-left: 1rem;

          .res__tab {
            padding: 0 0.5rem;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: $secondary-color;

            &:hover {
              background: $black;
              cursor: pointer;
            }
          }

          .active_tab {
            background: $black;
          }
        }

        .res__body {
          padding: 1rem;
          background: $black;

          code {
            color: $theme-color;
          }
        }
      }
    }

// }