#hire_consultant{
    .block{
        width: 1000px;
        margin: auto;
        margin-bottom: 100px;
        display: grid;
        &__banner{
            text-align: center;
            padding: 40px 0px 0px 0px;

            h1{
                font-weight: 800;
                font-size: 72px;
                line-height: 88px;
                margin-bottom: 30px;
            }
            p{
                font-family: Gilroy-Regular;
                font-size: 24px;
                line-height: 30px;
                color: #5E5E66;
            }
        }
        &__services{
            padding-bottom: 40px;

            &__header{
                padding: 20px 0px;
                text-align: center;

                h4{
                    font-weight: 800;
                    font-size: 36px;
                    line-height: 44px;
                    margin-bottom: 20px;
                }
                p{
                    font-family: Gilroy-Regular;
                    font-size: 24px;
                    line-height: 30px;
                    color: #5E5E66;
                }
            }
            &__content{
                width: 900px;
                margin: auto;

                &__box{
                    width: 350px;
                    height: 305px;
                    border: 1px solid #000000;
                    padding: 40px 25px;
                    float: left;
                    margin: 30px 50px;
                    position: relative;

                    h5{
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 20px;
                    }
                    p{
                        font-family: Gilroy-Regular;
                        font-size: 14px;
                        line-height: 16px;
                        color: #5E5E66;
                    }
                    button{
                        background: #F4F4F4;
                        border: none;
                        outline: none;
                        width: 130px;
                        height: 50px;
                        font-size: 15px;
                        position: absolute;
                        bottom: 50px;
                        &:hover{
                            border: 1px solid $primary-color;
                            box-shadow: inset 0 0 2px 0px $theme-color;
                        }
                    }
                }
            }
        }
        &__form{
            text-align: center;

            h4{
                font-weight: 800;
                font-size: 36px;
                line-height: 44px;    
            }
            form{
                margin: auto;
                padding: 35px 0px;

                .input_container{
                    float: left;
                    text-align: left;
                    margin: 10px 50px;

                    label{
                        display: block;
                        font-size: 24px !important;
                        line-height: 28px !important;
                        color: #121215 !important;
                        font-family: Gilroy ☞ !important;
                        margin-bottom: .5rem !important;
                    }
                    input{
                        width: 400px;
                        height: 48px;
                        border: 1px solid #979797;
                    }
                }
                .select_container{
                    width: 900px;
                    margin: auto;
                    text-align: left;
                    padding: 10px 0px;
                    overflow: auto;
                    p{
                        font-family: Gilroy ☞;
                        font-size: 24px;
                        line-height: 28px;
                        color: #121215;
                        display: inline-block;
                        margin-bottom: 0;
                        float: left;
                        width: 200px;
                    }
                    div{
                        position: relative;
                        float: left;

                        div{
                            font-family: Gilroy ☞;
                            font-size: 24px;
                            color: #121215;
                            margin-top: -3px;

                            input{
                                width: 17px;
                                height: 17px;
                            }
                            label{
                                display: inline-flex;
                                width: 170px !important;
                                margin-left: 10px !important;
                                font-size: 24px !important;
                                margin-bottom: .5rem !important;
                            }
                        }
                    }
                    &--textfield{
                        width: auto !important;
                        line-height: 50px !important;
                    }
                    textarea{
                        width: 850px;
                        height: 200px;
                        border: 1px solid #979797;
                        padding: 5px;
                    }
                }
                button{
                    width: 400px;
                    height: 70px;
                    background: #121215;
                    font-family: Gilroy ☞;
                    font-size: 24px;
                    color: $secondary-color;
                    cursor: pointer;
                    border: 1px solid transparent;
                    outline: none;
                    margin-top: 30px;
                    &:hover{
                        box-shadow: inset 0 0 2px 0px $theme-color;
                    }
                }
            }
        }
    }
}

$breakpoint-tablet: 1200px;
$breakpoint-minitablet: 900px;
$breakpoint-phone: 650px;
$breakpoint-miniphone: 350px;

@media (max-width: $breakpoint-tablet) {
    #hire_consultant{
        
        .block{
            width: 850px;

            &__services{
                &__content{
                    width: 850px;

                    &__box{
                        margin: 30px 37.5px;                    }
                }
            }
            &__form{
                form{
                    .input_container{
                        margin: 10px 37.5px;
                        input{
                            width: 350px;
                        }
                    }
                    .select_container{
                        width: 775px;
                        div{
                            div{
                                label{
                                    width: 150px !important;
                                }
                            }
                        }
                        textarea{
                            width: 775px;
                        }
                    }
                    button{
                        width: 350px; 
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-minitablet) {
    #hire_consultant{
        
        .block{
            width: 600px;

            &__services{
                &__content{
                    width: 600px;

                    &__box{
                        margin: 30px 125px;
                    }
                }
            }
            &__form{
                form{
                    .input_container{
                        margin: 10px auto;
                        float: none;

                        input{
                            width: 400px;
                        }
                    }
                    .select_container{
                        width: 600px;

                        div{
                            div{
                                label{
                                    width: 150px !important;
                                }
                            }
                        }
                        &--checkbox{
                            margin-top: 20px;
                        }
                        textarea{
                            width: 600px;
                        }
                    }
                    button{
                        width: 400px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-phone) {
    #hire_consultant{

        .block{
            width: 90%;
            margin-bottom: 70px;

            &__banner{
                h1{
                    font-size: 50px;
                    line-height: 60px;
                }
                p{
                    font-size: 20px;
                }
            }
            &__services{
                &__header{
                    h4{
                        font-size: 32px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
                &__content{
                    width: 100%;

                    &__box{
                        width: 300px;
                        height: 280px;
                        padding: 40px 15px;
                        margin: 30px auto;
                        float: none;

                        button{
                            bottom: 20px;
                        }
                    }
                }
            }
            &__form{
                h4{
                    font-size: 32px;
                }
                form{
                    padding: 0px;

                    .input_container{
                        input{
                            width: 100%;
                        }
                        label{
                            font-size: 20px !important;
                        }
                    }
                    .select_container{
                        padding: 10px 0px;
                        width: 100%;

                        div{
                            div{
                                label{
                                    width: 170px !important;
                                    font-size: 20px !important;
                                }
                            }
                        }
                        &--checkbox{
                            margin-top: 20px;
                        }
                        &--radio{
                            margin-top: 20px;
                        }
                        textarea{
                            width: 100%;
                            height: 150px;
                        }
                    }
                    button{
                        width: 200px;
                    }
                }
            }
        }
    }
}
@media (max-width: $breakpoint-miniphone) {
    #hire_consultant{
        .block{
            &__services{
                &__content{
                    &__box{
                        width: 100%;
                        padding: 40px 7%;                  
                    }
                }
            }
        }
    }
}