#recover{
    #layout {
        min-height: 0vh !important
    }
    .recover_container{

        text-align:center;
        width:60%;
        margin: 3em auto ;
        margin-bottom: 7em ;
            .container_word{
            font-size: 40px;
            font-weight: bolder;
            margin:0.5em 0em;
    }
    }
    .form {
        width:50%;
        margin:auto;
        label{
            font-size:13px;
            display: block;
            text-align: left;
            margin-bottom:0.3em !important;
        }
        .form_word{
            font-size:16px;
            margin:1em;
        }
    }
    input{
        padding:7px;
        margin-bottom:1em;
        width: 100%;
        background-color:rgba(196, 196, 196, 0.19) !important;
        border:0.7px solid rgba(99, 99, 99, 0.35);
        outline:none;
    }
   ::placeholder{
       font-size: 13px;
   }
    .tetiary-btn {
        @include btn;
        background-color:rgba(0, 0, 0, 0.15)!important;;
        color: $primary-color;
        font-size:16px;
        width:100%;
        font-weight:bolder;
        margin:0.5em 0em;
        &:hover {
          border-color: $theme-color;
          box-shadow: 0 0 3px 1px lighten($color: $primary-color, $amount: 20);
        }
      
        a {
          color: $primary-color;
          text-decoration: none;
        }
      }
    
    }
    
    @media (max-width: 991px) {
        #recover{
            .recover_container{
                width:100%;
             .container_word{
                font-size: 40px;
            }
        }
        .form{
            width:70%;
            margin:auto;
        }
    }
    
    
    }