#dashboard {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  position: absolute;

  .sidebar{
    height: 100%;
    overflow-y: auto;
    background: #000000;
    color: $secondary-color;
    transition: 0.5s ease;
    padding: 40px 20px;
    min-width: 245px;
    &--mobile{
      margin-left: 0px;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      
      border-radius: 5px;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $theme-color;
      border-radius: 5px;
    }
    &__section{

      &__header{
        padding: 40px 0px 20px 0px;
        overflow: hidden;
        height: auto;
        border-bottom: 1px solid #5E5E66;
        &--notactive{
          height: 30px;
          border:none;
        }
        h5{
          font-size: 14px;
          color: #979797;
          // font-family: Gilroy ☞;
          line-height: 16px;
          letter-spacing: 0.085em;
          text-transform: uppercase;
          cursor: pointer;
          i{
            float: right;
            font-size: 20px;
            margin-top: -3px;
          }
          .notactive{
            transform: rotate(180deg);
          }
        }
        &__list{
          li{
            margin: 20px 0px;

            .pretty {
              .spacer {
                margin-right: 15px;
              }
            }
            
            p{
              display: inline;
              margin-left: 20px;
              font-size: 18px;
            }
          }
          button{
            // font-family: Gilroy ☞;
            font-size: 18px;
            line-height: 21px;
            color: $theme-color;
            background: #000000;
            border: none;
            outline: none;
            overflow: hidden;
            p{
              display: inline-block;
              overflow: hidden;
              margin-bottom: 0px;
            }
            span{
              font-size: 30px;
              margin-right: 17px;
            }
          }
        }
      }
      &__content{
        &__sub{
          padding: 40px 0px 0px 0px;
          border-bottom: 1px solid #5E5E66;
          overflow: hidden;
          height: auto;
          &:last-child{
            border: none;
          }
          &--notactive{
            height: 60px;
            border:none;
          }
          h5{
            font-size: 14px;
            color: #979797;
            // font-family: Gilroy ☞;
            line-height: 16px;
            letter-spacing: 0.085em;
            text-transform: uppercase;
            cursor: pointer;
            i{
              float: right;
              font-size: 20px;
              margin-top: -3px;
            }
            .notactive{
              transform: rotate(180deg);
            }
          }
          &__list{
            margin-bottom: 0px;
            li{
              margin: 10px 0px;
              p{
                font-size: 18px;
                cursor: pointer;
                &:hover{
                  color: $theme-color;
                }
              }
            }
          }
        }
      }
    }
  }
  .content{
    height: 100%;
    width: inherit;
    position: relative;
    padding: 0px !important;
    overflow-y: hidden;
   
    header{
      // position: absolute;
      height: 11.2vh;
      border-bottom: 1px solid #DADADA;
      width: 100%;
      padding: 10px 40px 10px 10px;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .menu{
          font-size: 30px;
          line-height: 70px;
          display: none;
          float: left;
      }
      .profile_section{
        float: right;
        font-size: 18px;
        color: #000000;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        a{
          line-height: 70px;
          color: #DADADA;
          font-size: 20px;
        }
        
        &__pix{
          float: right;
          display: flex;
          justify-content: center;
          align-items: center;
          border-left: 1px solid #DADADA;
          padding-left: 20px;
          margin: 0px 20px;
          a{
            display: inline-flex;
            background: #6E8B41;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 15px;
            i{
              font-size: 25px;
              margin: auto;
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

$breakpoint-minitablet: 900px;
@media (max-width: $breakpoint-minitablet) {
  #dashboard {
    .sidebar{
        margin-left: -245px;
        &--mobile{
         margin-left: 0px;
        }
    }
    .content{
      padding: 0px;
      min-width: 100%;
      header{
        padding: 10px 0px 10px 10px;
        .menu{
          display: block;
        }
      }
    }
  }
}