<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <title>Micro Api - Blog Post</title>
</head>

<body id="blog">

    <header>
        <!-- Write header here -->
        <div class="container">
            <div class="row pt-4 pb-4 header__wrapper">
                <div class="col-lg-2 col-md-6 col-sm-6 logo__container">
                    <a href="index.html" class="logo"><img src="./assets/img/logo.svg" alt="site logo"></a>
                </div>

                <nav class="col-lg-6">
                    <ul class="nav__menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li><a href="docs.html">Documentation</a></li>
                    </ul>
                </nav>

                <div class="col-lg-4 menu__button__container">
                    <a href="signin1.html"><button class="secondary-btn">Sign In</button></a>
                    <a href="signup-1.html"><button class="primary-btn">Sign Up</button></a>
                </div>

                <div class="mobile__nav">
                    <div class="hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>

                    <div class="mobile__menu">
                        <nav class="nav">
                            <div class="search__form">
                                <label for="search">
                  <input type="text" name="search" placeholder="Search...">
                </label>
                                <div class="search__icon">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>

                            <ul class="mobile__nav__menu">
                                <li><a href="index.html"><b>Home</b></a></li>
                                <li><a href="about.html"><b>About us</b></a></li>
                                <li><a href="contact.html"><b>Contact us</b></a></li>
                                <li><a href="docs.html"><b>Documentation</b></a></li>
                                <li><a href="signin1.html"><b>Sign in</b></a></li>
                                <li><a href="signup-1.html"><b>Sign Up</b></a></li>
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                            </ul>

                            <div class="menu__logo">
                                <a href="#"><img src="./assets/img/logo.svg" alt=""></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Body -->
    <section class="blog__section1 container">
        <div class="text-center">
            <h1>How an API-powered digital ecosystem <br> can drive innovation and efficiency</h1>
            <p class="blog__section__paragraph text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed<br> do eiusmod tempor incididunt ut labore et dolore magna al</p>
            <img src="./assets/img/Rectangle 74.svg" class="img-fluid">
            <hr class="blog__section1__hr">
        </div>
        <div class="blog__section1__post-detail">
            <div class="blog__section1__social-links">
                <table>
                    <tr>
                        <td><i class='fab fa-facebook-square'></td>
                        <td><i class='fab fa-twitter'></td>
                    </tr>
                </table>
            </div>
            <div class="meta mb-1 blog__section1__post-writer__top">
                <span class="blog__section1__post-writer__name">Mark Essien</span><br>
                <span class="date text-muted"> Jul 21,2020 &middot; 4 min read</span>  
            </div>
           <div class=" text-center blog__section1__social-link__mobile container">
                <table>
                    <tr>
                        <td><i class='fab fa-facebook-square'></td>
                        <td><i class='fab fa-twitter'></td>
                        <td><i class='fab fa-whatsapp'></td>
                    </tr>
                    </table>
            </div>
        </div>
</section>
   
<section class="blog__section2">
        <div class="blog__section2__main container">
            <p class="blog__section__paragraph text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu velit tempus erat egestas efficitur. In hac habitasse platea dictumst. Fusce a nunc eget ligula suscipit finibus. Aenean pharetra quis lacus at viverra. </p>
            <p class="blog__section__paragraph text-muted">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam quis posuere ligula. In eu dui molestie, molestie lectus eu, semper lectus.</p>


            <div class="blog__section21">
                <span class="blog__section__heading">Next on the pipeline</span>
                <p class="blog__section__paragraph text-muted">Duis eu velit tempus erat egestas efficitur. In hac habitasse platea dictumst. Fusce a nunc eget ligula suscipit finibus. Aenean pharetra quis lacus at viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos.
                </p>

                <p class="blog__section__paragraph text-muted"> Morbi efficitur auctor metus, id mollis lorem pellentesque id. Nullam posuere maximus dui et fringilla.</p>
                <div class="blog__section__list">
                    <span>A list looks like this:</span>
                    <ul>
                        <li>&#8226; First item in the list</li>
                        <li>&#8226; Second item in the list Lorem ipsum dolor sit amet,</li>
                        <li>&#8226; Third item in the list.</li>
                    </ul>
                </div>
                <p class="blog__section__paragraph text-muted">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam quis posuere ligula.</p>
                <div class="blog__section__greetings">
                    <p>Thanks for reading,</p>
                    <p>Mark</p>
                </div>
            </div>
        </div>
    
</section>
  
<section class="blog__section3">
        <div class="blog__section3__recommendation container">
            <div class="blog__section31">
                <div class="blog__section3__social-link">
                    <table>
                        <tr>
                            <td><i class='fab fa-facebook-square'>   Share on Facebook</td>
                            <td><i class='fab fa-twitter'>     Share on Twitter</td>
                        </tr>
                    </table>  
                </div>
                <span class="mobile">Share:</span>
                <div class="text-center blog__section1__social-link__mobile  container"> 
                    <table>
                        <tr>
                            <td><i class='fab fa-facebook-square'></td>
                            <td><i class='fab fa-twitter'></td>
                            <td><i class='fab fa-whatsapp'></td>
                        </tr>
                    </table>
                </div>
                <p class="blog__section3__tags">Tags: <a href="#">APIs</a>, <a href="#">Technology</a></p>
                <hr class="blog__about">  
            </div>
       
                     
		 	
			 	<div class="blog__section3__avatar">
			 		<img src="./assets/img/Ellipse 9.png">
                 </div>
                 <div class="blog__section3__about comment_body ">
			 		<p>
                          MARK ANTHONY ESSIEN is a Nigerian entrepreneur, software developer and startup investor. He is the founder and CEO of Hotels.ng, one of the first online hotel booking websites in Nigeria.
                     </p>
			 	</div>

			 	
            <hr class="blog__section3__hr">
            <h6 class="blog__section__heading"> What to read next</h6>

            <div class="item mb-5">
                <div class="media">
                    <div class="media-body">
                        <span class="text-muted">RECOMMENDED</span>
                        <h3 class="blog__post__title mb-1"><a href="#">What is REST API? Uses,Advantages and Edges</a></h3>
                        <div class="blog__post__intro text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna .</div>
                        <div class="meta mb-1  post__writer">

                            <span> Julia Oriji</span>
                        </div>
                        <div class="meta mb-1">
                            <span class="blog__post__date text-muted"> July 21,2020 &middot; 5 min read</span>
                        </div>
                    </div>
                    <img class="mr-3 img-fluid post-thumb d-nne d-md-flex" src="./assets/img/Rectangle544.png" alt="image">
                </div>
            </div>

            <div class="item mb-5">
                <div class="media">
                    <div class="media-body">
                        <span class="text-muted">RECOMMENDED</span>
                        <h3 class="blog__post__title mb-1"><a href="#">What is REST API? Uses,Advantages and Edges</a></h3>
                        <div class="blog__post__intro text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna .</div>
                        <div class="meta mb-1 post__writer">
                            <span> Julia Oriji</span>
                        </div>
                        <div class="meta mb-1">
                            <span class="blog__post__date text-muted"> July 21,2020 &middot; 5 min read</span>
                        </div>
                    </div>
                    <img class="mr-3 img-fluid post-thumb d-nne d-md-flex" src="./assets/img/Rectangle545.png" alt="image">
                </div>
            </div>

        </div>
    
</section>
  

        <footer>
            <!-- Write footer here -->

            <div class="container pt-5 pb-5 footer__wrapper">
                <div class="footer__logo__container">
                    <div class="footer__logo">
                        <a href="#"><img src="./assets/img/logo.svg" alt="footer logo"></a>
                    </div>
                </div>

                <div class="footer__menus__container">
                    <div>
                        <h6>Product</h6>
                        <ul>
                            <li><a href="auth.html">Authentication API</a></li>
                            <li><a href="#">Models</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                        </ul>
                      </div>
              
                      <div>
                        <h6>Collaboration</h6>
                        <ul>
                          <li><a href="#">Comments</a></li>
                          <li><a href="#">Track Changes</a></li>
                        </ul>
                      </div>
              
                      <div>
                        <h6>Explore</h6>
                        <ul>
                          <li><a href="contact.html">Contact Us</a></li>
                          <li><a href="about.html">About Us</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="assets/js/nav.js"></script>
</body>

</html>